@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic");
@font-face {
  font-family: 'fontello';
  src: url("assets/fontello/fontello.eot?22102094");
  src: url("assets/fontello/fontello.eot?22102094#iefix") format('embedded-opentype'), url("assets/fontello/fontello.woff?22102094") format('woff'), url("assets/fontello/fontello.ttf?22102094") format('truetype'), url("assets/fontello/fontello.svg?22102094#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Caviar Dreams';
  src: url("assets/caviar/CaviarDreams-webfont.svg") format('svg'), url("assets/caviar/CaviarDreams-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Caviar Dreams';
  src: url("assets/caviar/Caviar_Dreams_Bold-webfont.svg") format('svg'), url("assets/caviar/Caviar_Dreams_Bold-webfont.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
/*
(cs)spinner.css - http://jh3y.github.io/-cs-spinner
Licensed under the MIT license

Jhey Tompkins (c) 2014.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/* (cs)spinner base styling */
.csspinner {
  position: relative;
}
.csspinner:after {
  z-index: 2;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  transition: all 0.75s ease 0s;
  border-radius: 100%;
  border-top: 4px solid #555;
  -webkit-animation: standard 0.75s infinite linear;
  animation: standard 0.75s infinite linear;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
/*(cs)spinner double up - a doubling up standard animation spinner*/
.csspinner:after {
  border: 4px double #fff;
  border-right-style: solid;
}
.disable-hover {
  pointer-events: none;
}
.csspinner:after {
  border-color: #ff6d00;
}
a {
  color: inherit;
}
body {
  background: #000;
  font-size: 100%;
  background-image: url("triangles-pattern.jpg");
  background-repeat: repeat;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
}
#content {
  margin: 68px 0;
  max-width: 100%;
  overflow: hidden;
}
header {
  font-family: 'Caviar Dreams';
  color: #fff;
  z-index: 100;
  box-shadow: 0 5px 15px rgba(0,0,0,0.26);
  background: #ff6d00;
  height: 68px;
  transition: all 0.15s ease-in-out;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header a {
  font-weight: bold;
}
header .stationArt {
  position: absolute;
  right: 0;
  top: 0;
  width: 68px;
  height: 68px;
  background-size: cover;
  background-position: center;
}
header > * {
  margin-left: 24px;
}
header .like,
footer .like {
  position: absolute;
  right: 68px;
  top: 0;
  bottom: 0;
  margin: auto;
}
main {
  min-height: 100vh;
  transition: all 0.15s ease-in-out;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
main > .csspinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
.station-container {
  display: inline-block;
  border: 0 solid transparent;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  text-align: center;
  margin: -2px 0;
  overflow: hidden;
}
.station-container:empty {
  display: none;
}
.station-container {
  width: 33.333333333333336%;
}
@media (min-width: 800px) {
  .station-container {
    width: 25%;
  }
}
@media (min-width: 1000px) {
  .station-container {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .station-container {
    width: 16.666666666666668%;
  }
}
@media (min-width: 1600px) {
  .station-container {
    width: 12.5%;
  }
}
@media (min-width: 1800px) {
  .station-container {
    width: 11.11111111111111%;
  }
}
@media (min-width: 2000px) {
  .station-container {
    width: 10%;
  }
}
@media (min-width: 2400px) {
  .station-container {
    width: 8.333333333333334%;
  }
}
@media (min-width: 3000px) {
  .station-container {
    width: 6.666666666666667%;
  }
}
@media (min-width: 3600px) {
  .station-container {
    width: 5.555555555555555%;
  }
}
@media (min-width: 4000px) {
  .station-container {
    width: 5%;
  }
}
.icon-liked {
  position: relative;
  width: 2em;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  overflow: hidden;
  cursor: pointer;
}
.icon-liked::before {
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.icon-liked:hover::before {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.icon-liked::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-decoration: inherit;
  text-align: center;
/* opacity: .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */
  content: '\e802';
}
.icon-like {
  position: relative;
  width: 2em;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  overflow: hidden;
  cursor: pointer;
}
.icon-like::before {
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.icon-like:hover::before {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.icon-like::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-decoration: inherit;
  text-align: center;
/* opacity: .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */
  content: '\e804';
}
.icon-dislike {
  position: relative;
  width: 2em;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  overflow: hidden;
  cursor: pointer;
}
.icon-dislike::before {
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.icon-dislike:hover::before {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.icon-dislike::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-decoration: inherit;
  text-align: center;
/* opacity: .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */
  content: '\e803';
}
.icon-volume {
  position: relative;
  width: 2em;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  overflow: hidden;
  cursor: pointer;
}
.icon-volume::before {
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.icon-volume:hover::before {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.icon-volume::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-decoration: inherit;
  text-align: center;
/* opacity: .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */
  content: '\e801';
}
.icon-volume-mute {
  position: relative;
  width: 2em;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  overflow: hidden;
  cursor: pointer;
}
.icon-volume-mute::before {
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.icon-volume-mute:hover::before {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.icon-volume-mute::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-decoration: inherit;
  text-align: center;
/* opacity: .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */
  content: '\e800';
}
.volume {
  position: absolute;
  right: 102px;
  top: 0;
  bottom: 2px;
  margin: auto;
  overflow: inherit;
}
@media (max-width: 767px) {
  .volume {
    display: none;
  }
}
.volume::before {
  translate: all 0.25s ease-in;
  z-index: 10;
}
.volume:hover::before {
  color: #a9a9a9;
}
.volume:not(:hover) .overlay {
  display: none;
}
.volume .overlay {
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.46);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0 10px 0 100%;
  width: 200px;
  background: #fff;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 16px;
      -ms-transform-origin: 16px;
          transform-origin: 16px;
}
.volume input[type="range"] {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  -webkit-appearance: none;
  outline: none;
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}
.volume input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.26);
  height: 6px;
}
.volume input[type="range"]::-moz-range-track {
  background: rgba(0,0,0,0.26);
  height: 6px;
}
.volume input[type="range"]::-ms-track {
  background: rgba(0,0,0,0.26);
  height: 6px;
}
.volume input[type="range"]::-ms-fill-lower {
  background: rgba(255,109,0,0.26);
}
.volume input[type="range"]::-webkit-slider-thumb {
  background: #ff6d00;
  height: 16px;
  width: 16px;
  border-radius: 22px;
  margin: -5px;
  margin-left: 0;
  border: none;
  -webkit-appearance: none;
}
.volume input[type="range"]::-moz-range-thumb {
  background: #ff6d00;
  height: 16px;
  width: 16px;
  border-radius: 22px;
  margin: -5px;
  margin-left: 0;
  border: none;
}
.volume input[type="range"]::-ms-thumb {
  background: #ff6d00;
  height: 16px;
  width: 16px;
  border-radius: 22px;
  margin: -5px;
  margin-left: 0;
  border: none;
}
.station {
  display: block;
  width: 100%;
  position: relative;
  background-size: cover;
}
.station::after {
  content: '';
  display: block;
  width: 0;
  padding-bottom: 100%;
}
.station:not(.noAnimation) {
  -webkit-animation: bumpBottom 0.75s ease-out;
          animation: bumpBottom 0.75s ease-out;
}
.station:not(.current) {
  cursor: pointer;
}
.station::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("vingette.png");
  background-size: cover;
  transition: all 0.5s ease-in-out;
}
.station .station-info {
  font-family: 'Caviar Dreams';
  transition: all 0.5s ease-in-out;
}
.station::before {
  -webkit-filter: invert(0%);
          filter: invert(0%);
}
.station:hover::before {
  -webkit-filter: invert(40%);
          filter: invert(40%);
}
.station.current::before,
.station.current:hover::before {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.station.current .station-info {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.station-action-play {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 30px;
  opacity: 0.2;
  transition: opacity 0.25s ease-in-out;
  color: #fff;
  margin: auto;
  font-size: 2.5em;
  width: 0;
  height: 0;
  padding: 48px;
  border-radius: 5em;
  background: rgba(0,0,0,0.87);
  cursor: pointer;
  overflow: hidden;
}
.station-action-play::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity: .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120% */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */
  content: '\e805';
}
.station-action-play::before {
  font-size: 50px;
  line-height: 0;
  width: 0;
  margin: 3px 0 0 -11px;
  display: block;
  box-shadow: 0 0 30px #fff;
}
.station:hover .station-action-play {
  opacity: 1;
}
.station-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 68px;
  padding: 16px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: #000;
  color: #fff;
  opacity: 0.54;
}
.station-info-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
}
.station-info-line:first-child {
  font-size: 16px;
}
.station-info,
.station-info-line {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.15s ease-in-out;
}
.station-info {
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.station:hover .station-info,
.station.current .station-info {
  opacity: 0.87;
}
.station:hover .station-info:not(.is-has-only-child),
.station.current .station-info:not(.is-has-only-child) {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.station:hover .station-info-line:not(:first-child),
.station.current .station-info-line:not(:first-child) {
  -webkit-transform: translateY(64px);
      -ms-transform: translateY(64px);
          transform: translateY(64px);
}
.nav-button {
  width: 24px;
  height: 24px;
}
.player {
  height: 68px;
  width: 100%;
  background: #fff;
  color: rgba(0,0,0,0.54);
  box-shadow: 0 -5px 15px rgba(0,0,0,0.26);
}
.player .albumArt {
  height: 68px;
  width: 68px;
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0;
}
.player .player-track-info {
  display: block;
  height: 68px;
  padding: 16px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: calc(100% - 68px);
  position: absolute;
  top: 0;
  left: 0;
}
.player .player-progress {
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0;
  transition: all 0.05s linear;
  background: #ff6d00;
}
/*    &-like
      font-size 1.25em
      icon('heart')
    &-skip
      font-size 1.25em
      icon('heart-broken')*/
.preload-container:not(:only-child) {
  display: none;
}
.player-track-info-title,
.station-track-info-name {
  font-size: 16px;
  color: rgba(0,0,0,0.87);
}
footer {
  position: fixed;
  bottom: 0;
}
footer .icon {
  -webkit-filter: inverse(100%);
          filter: inverse(100%);
}
.popups {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}
header,
footer,
main {
  transition: all 0.25s ease-in;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
  -webkit-transform-origin: 50vw 50vh;
      -ms-transform-origin: 50vw 50vh;
          transform-origin: 50vw 50vh;
}
.popups:not(:empty) ~ header,
.popups:not(:empty) ~ footer {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
.popups:not(:empty) ~ main {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.popup {
  position: fixed;
  width: 400px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  text-align: justify;
}
.popup > * {
  z-index: 2;
}
.popup p {
  padding: 10px 0;
  max-width: 100%;
}
.popup::before {
  content: '';
  position: absolute;
  width: 200vw;
  height: 200vh;
  margin: -100vh 0 0 -100vw;
  background: rgba(0,0,0,0.8);
}
.popup::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
}
.popup-button {
  display: block;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.popup-button.is-vk {
  background-color: #345f88;
}
#subscribeToGroup {
  width: 330px !important;
}
#subscribeToGroup iframe:not(:last-child) {
  display: none;
}
.preload-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  color: rgba(255,255,255,0.87);
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  width: 400px;
}
@-webkit-keyframes standard {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes standard {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes bumpBottom {
  0% {
    -webkit-transform: translate(0, 5%);
            transform: translate(0, 5%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes bumpBottom {
  0% {
    -webkit-transform: translate(0, 5%);
            transform: translate(0, 5%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
