head
    script document.location.hash = '';
    script(async, defer, src='scripts/main.js')
    link(rel='stylesheet', href='styles/style.css')
    script(src='http://vk.com/js/api/openapi.js')
    meta(name="viewport",content="width=device-width, user-scalable=no")
    block head
body
    block body
