doctype html
html
    head
        meta(charset='utf8')
        title Public radio
        script(async,defer,src='//vk.com/js/api/openapi.js')
        link(rel='stylesheet', href='style.css')
    body
        main
            .csspinner
            .station(v-repeat='station: stations', v-style="background-image: 'url(\"'+station.photo_200+'\")'", v-class='current: station.isCurrent')
                .station-actions
                    .station-action.station-action-play(v-show='!station.isCurrent', v-on='click: setStation(station.id)')
                .station-info
                    h4 {{station.name}}
        footer.player(v-if='currentStation && currentStation.id')
            .player-container
                .player-element-group
                    .left
                        .player-info.is-title {{currentStation.currentTrack.title}}
                            span(v-if='currentStation.currentTrack.release') from {{currentStation.currentTrack.release.title}}
                                span(v-if='currentStation.currentTrack.release.date') ({{currentStation.currentTrack.release.date.getYear()}})
                        .player-info.is-artist {{currentStation.currentTrack.artist}}
                    .right
                        .player-info.is-avatar(
                        v-if='currentStation.currentTrack.release && currentStation.currentTrack.release.image',
                        style='background-image: url({{currentStation.currentTrack.release.image.original}})')
                .player-element-group
                    .left
                        .player-info.is-avatar(v-if='currentStation.photo_200', style='background-image: url({{currentStation.photo_200}})')
                    .right
                        .player-info.is-station {{currentStation.name}}
                        .player-info.is-prev(v-if="currentStation.previousTrack")
                            | {{currentStation.previousTrack.artist}} - {{currentStation.previousTrack.title}}
        .popups
            #needAuth.popup
                a(onclick='VK.Auth.login(function(){}, 10)').popup-button.is-vk Войти через ВК
        script(async,defer,src='app.js')