@import url('http://meyerweb.com/eric/tools/css/reset/reset.css')
@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic')
@require '_fontello'
square(pseudo = 'before')
  &::{pseudo}
    content ''
    height 0
    padding-bottom 100%
    display inline-block

vingette-bg()
  background-size 0
  &::before
    content ''
    width 100%
    height 100%
    position absolute
    background-image inherit
    background-size cover
    background-repeat no-repeat
    background-position center
    transition all .5s ease-in-out
    box-shadow inset 0 0 100px rgba(0, 0, 0, 1)
  &.current::before
    box-shadow inset 0 0 100px rgba(255, 255, 255, 1)


/*
(cs)spinner.css - http://jh3y.github.io/-cs-spinner
Licensed under the MIT license

Jhey Tompkins (c) 2014.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/* (cs)spinner base styling */
.csspinner {
  position: relative;
}
.csspinner:after {
  z-index: 2;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transition: all .75s ease 0s;
  transition: all .75s ease 0s;
  border-radius: 100%;
  border-top: 4px solid #555555;
  -webkit-animation: standard .75s infinite linear;
  animation: standard .75s infinite linear;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
/* (cs)spinner standard rotation animation used for duo, double-up etc. */
@-webkit-keyframes standard {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes standard {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*(cs)spinner double up - a doubling up standard animation spinner*/
.csspinner:after {
  border-right: 4px solid #e74c3c;
  border-top: 4px double #e74c3c;
  border-left: 4px double #e74c3c;
  border-bottom: 4px double #e74c3c;
}


body
  font-size 100%
  background-image url(triangles-pattern.jpg)
  background-repeat repeat
  min-height 100vh

body
  font-family 'PT Sans', sans-serif

@keyframes bumpBottom
  0%
    transform translate(0, 5%)
    opacity 0
  100%
    transform translate(0, 0)
    opacity 1


.station
  width 200px
  margin 10px
  position relative
  overflow hidden
  animation bumpBottom .75s ease-out
  square('after')
  vingette-bg()
  perspective 250px

  &-actions
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    opacity .2
    transition opacity .25s ease-in-out
  &:hover &-actions
    opacity 1

  &-action
    color white
    position absolute
    left 0
    top 0
    right 0
    bottom 30px
    margin auto
    font-size 2.5em
    width 0
    height 0
    padding 48px
    border-radius 5em
    background rgba(0,0,0,.8)
    icon('play')
    cursor pointer
    overflow hidden
    &::before
      font-size: 50px;
      line-height: 0;
      width: 0;
      margin 3px 0 0 -11px
      display: block;
      box-shadow 0 0 30px #FFF

  &-info
    position absolute
    bottom 0
    width 100%
    padding 10%
    box-sizing border-box
    background rgba(0, 0, 0, .8)
    color white
    & > *:first-child
      margin-top 0
      padding-top 0
    h4, .now
      display: block
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    transition all .15s ease
    opacity .75
    transform rotateX(50deg) translateY(0)
    transform-origin 0 100%
  &:hover &-info
    opacity 1
    transform rotateX(50deg) translateY(12px)
  &.current &-info
    transform rotateX(60deg) translateY(0px)
  &.current:hover &-info
    transform rotateX(60deg) translateY(12px)

.taglist
  display flex
  justify-content flex-start
  flex-wrap wrap
  padding 0
  margin 0
  li
    list-style none
  &-tag

    padding-right 5px
    font-size .8rem

.player
  width 100%
  background white
  &-container
    display flex
    flex-wrap wrap
    justify-content space-between
    width 100%
    padding 0 10px
    box-sizing border-box
  &-element-group
    min-width 240px
    max-width 360px
    padding 10px 0
    display flex
    align-content space-between
    .left
      text-align left
      flex-grow 1
    .right
      text-align right
      flex-grow 1
  &-button
    &-playpause
      font-size 2.5rem
      &.is-play
        icon('pause')
      &.is-pause
        icon('play')
    &-like
      font-size 1.25em
      icon('heart')
    &-skip
      font-size 1.25em
      icon('heart-broken')
  &-info
    display block
    vertical-align top
    &.is-title
      font-size 1.5rem
    &.is-prev
      &::before
        content: 'last: '
    &.is-station
      font-size 1.5rem
      &::before
        content: 'Station: '
    &.is-avatar
      width 48px
      height 48px
      background-position center
      background-size cover




footer
  position fixed
  bottom 0

main
  display flex
  justify-content space-around
  flex-wrap wrap
  margin-bottom 7.5rem
  & > .csspinner
    position: absolute
    top: 50%
    left: 50%
  & > .csspinner:not(:only-child)
    display none

.popups
  position absolute
  left 0
  top 0
  z-index 2
.popup
  position fixed
  width 200px
  height 200px
  max-width 100%
  max-height 100%
  left 0
  top 0
  right 0
  bottom 0
  margin auto
  background white
  display flex
  align-items center
  justify-content center
  & > *
    z-index 2
  &::before
    content ''
    position absolute
    width 200vw
    height 200vh
    margin -100vh 0 0 -100vw
    background rgba(0,0,0,.8)
  &::after
    content ''
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background white
    z-index 1
  &-button
    display block
    &.is-vk
      background-color #345F88
    color white
    padding 10px
    border-radius 3px
    cursor pointer

@keyframes rotate
  0%
    transform rotate(360deg)
  100%
    transform rotate(0deg)


.popup:not(:target)
  display: none