@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic')

@font-face
  font-family Caviar Dreams
  font-weight normal
  font-style normal
  src url(../assets/caviar/CaviarDreams-webfont.svg) format('svg'), url(../assets/caviar/CaviarDreams-webfont.woff) format('woff')

@font-face
  font-family Caviar Dreams
  font-weight bold
  font-style normal
  src url(../assets/caviar/CaviarDreams_Bold-webfont.svg) format('svg'), url(../assets/caviar/CaviarDreams_Bold-webfont.woff) format('woff')

@font-face
  font-family Caviar Dreams
  font-weight normal
  font-style italic
  src url(../assets/caviar/CaviarDreams_Italic-webfont.svg) format('svg'), url(../assets/caviar/CaviarDreams_Italic-webfont.woff) format('woff')

@font-face
  font-family Caviar Dreams
  font-weight bold
  font-style italic
  src url(../assets/caviar/CaviarDreams_BoldItalic-webfont.svg) format('svg'), url(../assets/caviar/CaviarDreams_BoldItalic-webfont.woff) format('woff')

.font-caviar
  font-family 'Caviar Dreams', sans-serif
