.drawer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100px;
    height: 100vh;
    box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14) inset,
    0 3px 1px -2px rgba(0,0,0,.2) inset,
    0 1px 5px 0 rgba(0,0,0,.12) inset;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    color: #424242;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
    text-align: center;
}


.title {
    display: block;
    padding: 16px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 16px 0;
    margin: 0;
    font-size: 12px;
    text-decoration: none;
}

.link:not(:global(.is-active)) {
    color: #757575;
}

.userView {
    padding: 0 12px 0 32px !important;
}

.userInfo {
    background-color: transparent !important;
    display: flex !important;
    align-items: center !important;
}

.userImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 50%;
    width: 0;
    height: 0;
}

.exitButton {
    display: block;
}
