head
    meta(charset='utf8')
    title(v-if='currentTrack') {{currentTrack.artist}} - {{currentTrack.title}}
    title(v-if='!currentTrack') Public radio
    link(rel='stylesheet', href='style.css')
body
    main
        div(v-repeat='groups | stations', v-component='station')

    section(style='position: fixed; right: 0; bottom: 0; width: 100%', v-if='currentTrack')
        h5(v-text='currentTrack.title')
        h6(v-text='currentTrack.artist')

    secton(style='position: fixed; right: 0; top: 0')
        button#menu
    section#needAuth
        button(type='button', onclick='VK.Auth.login(function(){}, 10)') Войти через ВК
