@font-face
  font-family: 'Caviar Dreams'
  src:
  url('assets/caviar/CaviarDreams-webfont.svg') format('svg'),
  url('assets/caviar/CaviarDreams-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Caviar Dreams'
  src:
  url('assets/caviar/Caviar_Dreams_Bold-webfont.svg') format('svg'),
  url('assets/caviar/Caviar_Dreams_Bold-webfont.woff') format('woff')
  font-weight: bold
  font-style: normal
