@font-face {
  font-family: 'fontello'
  src: url('assets/fontello/fontello.eot?22102094')
  src: url('assets/fontello/fontello.eot?22102094#iefix') format('embedded-opentype'),
  url('assets/fontello/fontello.woff?22102094') format('woff'),
  url('assets/fontello/fontello.ttf?22102094') format('truetype'),
  url('assets/fontello/fontello.svg?22102094#fontello') format('svg')
  font-weight: normal
  font-style: normal
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src_old: url('assets/fontello/fontello.svg?22102094#fontello') format('svg');
  }
}
*/
icon(name)
  &::before
    font-family: "fontello"
    font-style: normal
    font-weight: normal
    speak: none

    display: inline-block
    text-decoration: inherit
    width: 1em
    margin-right: .2em
    text-align: center
    /* opacity: .8 */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal
    text-transform: none

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em

    /* you can be more comfortable with increased icons size */
    /* font-size: 120% */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */

    icons = {
      'volume-mute': '\e800',
      'volume': '\e801',
      'heart': '\e802',
      'heart-broken': '\e803',
      'heart-empty': '\e804',
      'play': '\e805'
    }
    content icons[name]

icon2(name)
  position relative
  width 2em
  height 2em
  font-size 1em
  line-height 2em
  overflow hidden
  cursor: pointer
  &::before
    transition transform .15s ease-in-out
    transform scale(1)

  &:hover::before
    transform scale(1.5)
  &::before
    font-family: "fontello"
    font-style: normal
    font-weight: normal
    speak: none

    display: block
    position: absolute
    left 0
    right 0
    top 0
    bottom 0
    margin auto
    text-decoration: inherit
    text-align: center
    /* opacity: .8 */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal
    text-transform: none

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */

    icons = {
      'volume-mute': '\e800',
      'volume': '\e801',
      'heart': '\e802',
      'heart-broken': '\e803',
      'heart-empty': '\e804',
      'play': '\e805'
    }
    content icons[name]